body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: flex-start; /* Вирівнюємо до верхнього краю */
}

.search-container {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}
.highlight {
    background-color: rgb(131, 112, 112); /* Змініть 'black' на бажаний колір */
  }
.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.doctor-card {
    border-top: none;
    background-color: #D6E9FF;
    border-radius: 25px;
    margin-left: 30px;
    padding: 20px;
    order: 4; /* Змінюємо порядок відображення */
    width: 70%; /* Змінюємо ширину на 70% */
}

.doctor-info {
    display: flex;
    align-items: baseline; /* Змінено з 'center' на 'baseline' */
}

input[type="text"] {
    /* Стилі для пошукового поля */
    width: 70%; /* Займає 100% доступної ширини контейнера */
    height: 50px;
    border-radius: 25px;
    margin-left: 200px; /* Додайте відступ від лівого краю */
}

button[type="button"] {
    /* Стилі для кнопки "Знайти" */
    background-color: #D6E9FF;
    border: none;
    width:  150px;
    height: 50px;
    cursor: pointer;
    margin-left: 25px; /* Додайте відступ від лівого краю */
    border-radius: 25px;
}

h2, h3 {
    margin: 10px 0;
    color: #333;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

.toggle {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.toggle input[type="checkbox"] {
    margin-right: 5px;
}

.gender-filter {
    margin: 10px 0;
}

.gender-filter label {
    display: inline-block;
    margin-right: 10px;
}

.experience-filter {
    margin: 10px 0;
}

.experience-filter label {
    display: inline-block;
    margin-right: 10px;
}
.separator {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.doctor-info {
    display: flex;
    align-items: center;
}
.inf {
    /* Додайте потрібні стилі для блоку з інформацією */
    margin-left: 25px; /* Додайте відступи за потреби */
}

.doctor-image {
    width: 200px;
    height: 200px;
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 0;
    padding: 1px;
}
.doctor-details {
    flex-grow: 1; /* Займає доступний вільний простір */
    padding: 10px; /* Додайте відступи за потреби */
}

.doctor-details h2 {
    margin: 0; /* Видалить відступи для заголовку */
}
.doctor-availability {
    background-color: rgb(177, 177, 177); /* Сірий фон */
    border-radius: 25px;
    margin-left: 25px;
    width: 30%; /* Змініть розмір за потребою */
    padding: 20px;
}

.date-table {
    display: flex;
    align-items: center;
}

.date-column {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #D6E9FF;
    border-radius: 5px;
    margin: 2px;
}

.date {
    font-weight: bold;
}
.doctor-availability {
    display: flex;
    flex-direction: column;
}
.container1 {
    width: 200px; /* Задайте необхідну ширину */
    margin: 0 auto;
}

.text-wrapper {
    display: flex;
    flex-direction: row; /* Змінено на 'row' */
    justify-content: space-between; /* Рівномірний розподіл між "Сьогодні" та "Завтра" */
    align-items: center;
}

.text {
    font-size: 15px;
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}
.text-wrapper1 {
    display: flex;
    flex-direction: row; /* Змінено на 'row' */
    justify-content: space-between; /* Рівномірний розподіл між "Сьогодні" та "Завтра" */
    align-items: center;
}

.text1 {
    font-size: 15px;
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 30px;
}
.text-wrapper2 {
    display: flex;
    flex-direction: row; /* Змінено на 'row' */
    justify-content: space-between; /* Рівномірний розподіл між "Сьогодні" та "Завтра" */
    align-items: center;
}

.text2 {
    font-size: 15px;
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 30px;
}
.text-wrapper3 {
    display: flex;
    flex-direction: row; /* Змінено на 'row' */
    justify-content: space-between; /* Рівномірний розподіл між "Сьогодні" та "Завтра" */
    align-items: center;
}

.text3 {
    font-size: 15px;
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 30px;
}